Author: Owen Burt  
Date created: 2/21/2025  
Description:  
References:  
Sources:

In [6]:
import tensorflow as tf
import pandas as pd
import cv2
import os as os
import glob

### Creating training and testing data

In [8]:
cwd = os.getcwd()
print(cwd)

c:\Users\owend\Eye_tracker\Eye_tracker

In [13]:
df = pd.read_csv(cwd + "/eye_data.csv")

In [14]:
df

                         file_name obj_class   x1   y1   x2   y2
0    WIN_20250205_16_00_55_Pro.jpg     pupil  257  163  276  195
1    WIN_20250205_16_00_56_Pro.jpg     pupil  279  128  308  156
2    WIN_20250205_16_00_57_Pro.jpg     pupil  313  138  346  170
3    WIN_20250205_16_00_58_Pro.jpg     pupil  278  141  305  172
4    WIN_20250205_16_00_59_Pro.jpg     pupil  263  150  286  181
..                             ...       ...  ...  ...  ...  ...
363  WIN_20250220_20_01_15_Pro.jpg  NEGATIVE    0    0    0    0
364  WIN_20250220_20_01_17_Pro.jpg  NEGATIVE    0    0    0    0
365  WIN_20250220_20_01_19_Pro.jpg  NEGATIVE    0    0    0    0
366  WIN_20250220_20_01_28_Pro.jpg  NEGATIVE    0    0    0    0
367  WIN_20250220_20_01_30_Pro.jpg  NEGATIVE    0    0    0    0

[368 rows x 6 columns]